/* CareerComponent.css */

.career {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.career-photo {
  width: 80%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.career-logos-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.career-logo-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px; /* Изменено с margin-bottom на margin */
  text-align: center;
}

.logo-image {
  width: 130px;
  height: 150px;
  margin-bottom: 10px;
}
