/* CareerComponent.css */

.career {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.career-photo {
  width: 1226px;
  height: 333px;
  /* Add any additional styles as needed */
}

.career-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.career-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.logo-image {
  width: 150px;
  height: 150px;
  /* Add any additional styles as needed */
}
