/* PhotoGallery.css */

.photo-gallery {
    display: flex;
  }
  
  .photo-sidebar {
    width: 220px; /* Увеличиваем ширину бокового меню */
    padding: 10px;
  }
  
  .photo-sidebar button {
    display: block;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #f0f0f0; /* Цвет фона только для кнопок */
    padding: 10px;
    cursor: pointer;
  }
  
  .photo-sidebar button:hover {
    background-color: #ccc; /* Изменяем цвет фона при наведении */
  }
  
  .photos-gallery {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование элементов по горизонтали */
  }
  
  .photos-gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 5px;
  }
  .popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 90vw; /* Уменьшаем максимальную ширину окна попапа до 80% ширины экрана */
    max-height: 90vh; /* Уменьшаем максимальную высоту окна попапа до 80% высоты экрана */
  }
  
  
  .popup-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .popup-photo {
    max-width: 100%; /* Максимальная ширина изображения равна ширине окна попапа */
    max-height: 100%; /* Максимальная высота изображения равна высоте окна попапа */
    object-fit: contain; /* Масштабирование изображения так, чтобы оно полностью помещалось в контейнер */
    border-radius: 5px;
  }
  